// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th{
	display : block;
	padding-top: 10px;
	padding-bottom : 7px;
	padding-left: 5px;
	padding-right : 25px;
	background-color:#003366;
	font-family: Tahoma; font-size: 16px; font-weight: normal;
	text-align: left;
	color : white;
}
